<section class="wrapper">
  <h1 class="titulo">Ranking de Vendas e Comissões</h1>

  <div class="card" *ngIf="carregando">
    Carregando vendas...
  </div>

  <div class="card" *ngIf="!carregando">
    <table>
      <thead>
        <tr>
          <th>Vendedor</th>
          <th>Total de vendas (R$)</th>
          <th>Total de comissão (R$)</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let r of ranking">
          <td>{{ r.vendedor }}</td>
          <td>{{ r.total | number:'1.2-2' }}</td>
          <td>{{ r.comissao | number:'1.2-2' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
